.register-container {
  padding: 10px;
}

.no-focus:focus {
  box-shadow: none !important;
  outline: none !important;
}

.spinner-container {
  display: flex;
  margin-top: 20vh;
  justify-content: center;
  align-items: center !important;
}